:root {
  --mainGreen: #78ac38;
  --mainBeige: #fcf7ef;
  --mainGrey: #999;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

.main {
  min-height: calc(100vh - 70px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Calibri !important;
  letter-spacing: 0.25rem !important;
}

.oysterTitle {
  padding-top: 150px;
}

/*
.shopButton {
  justify-content: center;
}*/

.text-green {
  color: var(--mainGreen);
}

.cart-icon {
  cursor: pointer;
  color: var(--mainGreen);
  font-size: 1.8rem;
}

.collapse.navbar-collapse {
  margin-right: 240px;
}

.default-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.btn-green {
  color: var(--mainGreen);
  border-color: var(--mainGreen);
  border-width: 5px;
  font-weight: bold;
  border-radius: 50px;
}

.btn-green:hover {
  background: var(--mainGreen);
  color: var(--mainWhite);
}

.footer {
  background: var(--mainDark);
  flex-grow: 1;
}
